{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />

  <title>Gabriel Valera</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
  
  </head>

  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="{% static 'assets/images/self-image.jpg' %}" alt="" /></a>
            </div>
            <div class="author-content">
              <h4>Gabriel Valera</h4>
              <span>Backend and AI Developer</span>
            </div>
            {% for side in sides %}
            <nav class="main-nav" role="navigation">
                <ul class="main-nav">
                    <li><a href="#{{ side.anchor }}">{{ side.name }}</a></li>
                </ul>
            </nav>
            {% endfor %}
            <div class="social-network">
              <ul class="social-icons">
                <li>
                  <a href="https://www.linkedin.com/in/gabriel-g-a-valera" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="https://github.com/valeragabriel" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li>
                  <a href="https://www.hackerrank.com/profile/gabrielgavalera" target="_blank"><i class="fab fa-hackerrank"></i></a>
                </li>
                <li>
                  <a href="mailto:gabrielgavalera@gmail.com"><i class="far fa-envelope"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- About me -->
      <section id="sobre-mim" class="section sobre-mim" data-section="#section1">
        <div class="container">
          <div class="section-heading">
            <h2>Sobre mim</h2>
            <div class="line-dec"></div>
            <p>
              
                Estudante de Engenharia da Computação na UFSC. Sou uma pessoa participativa e comunicativa, que valoriza a aplicação prática do conhecimento e o desenvolvimento de projetos, seja utilizando inteligência artificial, trabalhando no backend ou criando páginas web. Tenho uma abordagem prática, gosto de enfrentar desafios e buscar soluções inovadoras que tragam resultados positivos.
            </p>
          </div>
          <div class="home-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="home-image">
                  <img src="{% static 'assets/images/home-image.jpg' %}" alt="" style="width: 210%; display: block; margin: 0 auto;" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- <div class="first-service-icon service-icon"></div> -->

      <!-- Skills  -->
      <section id="habilidades" class="section habilidades" data-section="#section2">
        <div class="container">
          <div class="section-heading">
            <h2 style="text-align: center;">Habilidades</h2>
            <div class="line-dec" style="margin: 0 auto;"></div>
          </div>
          <div style="width: 300%; max-width: 500px; margin: 0 auto;">
            {% for feature in features %}
            <div class="row" style="margin-bottom: 20px;">
              <div class="col-md-12">
                <div class="service-item" style="border: 2px solid #333; border-radius: 10px; padding: 20px;">
                  <img src="{{ feature.img_path }}" alt="{{ feature.name }}imagem" class="skill-image" />
                  <h4 style="text-align: center;">{{feature.name}}</h4>
                  <p style="text-align: center;">{{feature.details}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      
      <!-- My projects -->
      <section id="meus-projetos" class="section meus-projetos" data-section="#section3">
        <div class="container">
          <div class="section-heading">
            <h2>Meus Projetos</h2>
            <div class="line-dec"></div>
            <p>
              <p>Esta é apenas uma visão geral de alguns projetos que eu desenvolvi, caso tenha interesse em saber mais sobre algum projeto específico ou queira conversar sobre, pode entrar em contato comigo, se clicar <a href="mailto:gabrielgavalera@gmail.com">aqui</a> será direcionado ao meu email.</p>
            </div>
          <div class="row">
            <div class="isotope-wrapper">
              <form class="isotope-toolbar">
                <label><input type="radio" data-type="*" name="isotope-filter" checked /><span>Todos</span></label>
                <label><input type="radio" data-type="artificial-intelligence" name="isotope-filter" /><span>Artificial Intelligence</span></label>
                <label><input type="radio" data-type="backend" name="isotope-filter" /><span>Backend</span></label>
                <label><input type="radio" data-type="hardware" name="isotope-filter" /><span>Hardware</span></label>
                <label><input type="radio" data-type="outros" name="isotope-filter" /><span>Outros</span></label>
              </form>
              <div class="isotope-box">
                <!-- Projeto de Inteligencia Artificial -->
                {% for ai in ai_projects %}
                <div class="isotope-item" data-type="artificial-intelligence">
                  <figure class="snip1321">
                    <img src="{{ ai.img_path }}" alt="{{ ai.name }}" />
                    <figcaption>
                      <a href="{{ ai.img_path }}" data-lightbox="image-1" data-title="{{ ai.name }}"><i class="fa fa-search"></i></a>
                      <h4>{{ ai.name }}</h4>
                      <span>{{ ai.details }}</span>
                    </figcaption>
                  </figure>
                </div>
                {% endfor %}
  
                <!-- Projeto de Backend -->
                {% for backend in backend_projects %}
                <div class="isotope-item" data-type="backend">
                  <figure class="snip1321">
                    <img src="{{ backend.img_path }}" alt="{{ backend.name }}" />
                    <figcaption>
                      <a href="{{ backend.img_path }}" data-lightbox="image-1" data-title="{{ backend.name }}"><i class="fa fa-search"></i></a>
                      <h4>{{ backend.name }}</h4>
                      <span>{{ backend.details }}</span>
                    </figcaption>
                  </figure>
                </div>
                {% endfor %}
  
                <!-- Projeto de Hardware -->
                {% for hardware in hardware_projects %}
                <div class="isotope-item" data-type="hardware">
                  <figure class="snip1321">
                    <img src="{{ hardware.img_path }}" alt="{{ hardware.name }}" />
                    <figcaption>
                      <a href="{{ hardware.img_path }}" data-lightbox="image-1" data-title="{{ hardware.name }}"><i class="fa fa-search"></i></a>
                      <h4>{{ hardware.name }}</h4>
                      <span>{{ hardware.details }}</span>
                    </figcaption>
                  </figure>
                </div>
                {% endfor %}
  
                <!-- Projeto de Outros -->
                {% for outros in outros_projects %}
                <div class="isotope-item" data-type="outros">
                  <figure class="snip1321">
                    <img src="{{ outros.img_path }}" alt="{{ outros.name }}" />
                    <figcaption>
                      <a href="{{ outros.img_path }}" data-lightbox="image-1" data-title="{{ outros.name }}"><i class="fa fa-search"></i></a>
                      <h4>{{ outros.name }}</h4>
                      <span>{{ outros.details }}</span>
                    </figcaption>
                  </figure>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- Contact me -->
      <section id="contate-me" class="section contate-me" data-section="#section4">
        <div class="container">
          <div class="section-heading">
            <h2>Contate-me</h2>
            <p>
              Para entrar em contato comigo, por favor, envie um e-mail para <a href="mailto:gabrielgavalera@gmail.com">gabrielgavalera@gmail.com</a> Optei por desativar o formulário de 
              contato nesta página devido à necessidade de expor o código publicamente para que funcione na web sem custos.
              
            <div class="line-dec"></div>
            <span></span>
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="{% url 'index' %}" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="name"
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Your name..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="email"
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="Your email..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="subject"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="Subject..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea
                          name="message"
                          rows="6"
                          class="form-control"
                          id="message"
                          placeholder="Your message..."
                          required=""
                        ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button" name="submit_button">
                          Enviar Mensagem
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
    
    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

    <script> 
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
    <script>
    $(document).ready(function() {
      // Script para rolar até a seção correspondente ao clicar nos itens da barra lateral
      $(".main-menu a").on("click", function(e) {
        e.preventDefault();
        var targetSection = $(this).attr("href");
        $('html, body').animate({
          scrollTop: $(targetSection).offset().top
        }, 1000);
      });

      // Ativação do item do menu conforme a rolagem da página
      $(window).on("scroll", function() {
        var scrollPos = $(document).scrollTop();
        $('.section').each(function() {
          var currLink = $(this);
          var refElement = $(currLink).attr("id");
          if ($(currLink).position().top <= scrollPos && $(currLink).position().top + $(currLink).height() > scrollPos) {
            $('.main-menu a').removeClass("active");
            $(".main-menu a[href='#" + refElement + "']").addClass("active");
          }
        });
      });
    });
    </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Ativar o Lightbox2
      lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
      });

      // Adicionar evento de clique nas imagens para detalhamento
      var images = document.querySelectorAll('.isotope-item img');
      images.forEach(function (image) {
        image.addEventListener('click', function () {
          var projectName = this.getAttribute('alt');
          alert('Detalhes do projeto: ' + projectName);
        });
      });
    });
  </script>

  </body>
</html>
